<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Page</title>
    <style>
        body {
            background-color: #ffe6e6;
        }
        h1 {
            text-align: center;
        }
        table {
            border-collapse: collapse;
            margin: 0 auto;
            transform: scale(1.25);
        }
        th, td {
            padding: 8px;
            text-align: center;
            border: 1px solid black;
        }
        th {
            background-color: #ddd;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Car List</h1>
<table>
    <thead>
    <tr>
        <th>Vendor</th>
        <th>Model</th>
        <th>Max speed</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.vendor}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.maxSpeed}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
